@import url("https://fonts.googleapis.com/css2?family=Orbitron:wght@400;500;700;900&display=swap");
@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css");
@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/brands.min.css");
@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/fontawesome.min.css");
@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/solid.min.css");

@import url("https://fonts.googleapis.com/css2?family=Pacifico&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  outline: none;
}
:root {
  font-family: "Orbitron", sans-serif;
}
section {
  width: 100vw;
  height: 100vh;
  background-color: #333;
  background: linear-gradient(45deg, rgb(0, 95, 0) 5%, rgb(167, 109, 59) 50%);
  background: linear-gradient(45deg, rgb(117, 57, 1) 5%, rgb(46, 125, 131) 50%);
  background: linear-gradient(45deg, rgb(11, 29, 31) 5%, rgb(46, 125, 131) 80%);

  padding: 15vh 25vw;
}
.login {
  /* position: absolute; */
  width: 50vw;
  height: 70vh;
  background: green;
  background: linear-gradient(45deg, green 5%, sandybrown 50%);
  display: flex;
  margin: 0 auto;

  align-items: center;
  box-shadow: 5px 5px 8px 1px #333;
}
h2 {
  width: 26%;
  font-size: 24px;
  color: green;
  letter-spacing: 2px;
  font-weight: 900;
  border-bottom: 2px solid red;

  text-transform: uppercase;
}
h6 {
  width: 26%;
  font-size: 24px;
  color: green;
  letter-spacing: 2px;
  font-weight: 900;
  border-bottom: 2px solid red;

  margin-bottom: 10px;
  text-transform: uppercase;
}
.title-2 {
  width: 36%;

  color: green;
  letter-spacing: 2px;
  font-weight: 900;
  border-bottom: 2px solid red;

  padding-bottom: 0px;
  text-transform: uppercase;
}
h3 {
  color: rgb(71, 71, 71);
  letter-spacing: 2px;
}
.check {
  display: flex;
  gap: 5px;
  align-items: center;
}
.check label {
  font-size: 13px;
  letter-spacing: 2px;
}
.check input {
  width: 11px;
}
.logo {
  width: 25vw;
  height: 70vh;
  position: relative;
}
.logo-1 {
  width: 25vw;
  height: 70vh;
  position: absolute;
  background-image: url(3.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: -250px;
  opacity: 0.5;
}
.logo-2 {
  width: 25vw;
  height: 70vh;
  position: absolute;
  background-image: url(3.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: -250px;
  opacity: 0.5;

  margin: 0;
}
.logo-content {
  width: 100%;
  height: 100%;
  display: flex;

  justify-content: center;
  align-items: center;
}
.logo h1 {
  width: 100%;
  position: absolute;
  font-size: 60px;
  color: white;
  margin-bottom: 100px;
  cursor: pointer;
  background-color: hotpink;

  text-align: center;
  letter-spacing: 3px;
  opacity: 0.8;
  font-family: "Pacifico", cursive;
  animation: anim 3s infinite;
}

@keyframes anim {
  from {
    background-color: blueviolet;
    color: yellow;
  }
  to {
    background-color: hotpink;
    color: white;
  }
}

.logo button {
  position: absolute;
  margin-top: 100px;
  border-radius: 20px;
  border: unset;
  height: 30px;
  width: 100px;
  padding: 0;
  opacity: 0.7;
  background-color: green;
  background-color: sandybrown;
  color: black;
  color: white;
  font-size: 12px;
  text-transform: uppercase;
  cursor: pointer;
  font-weight: 700;
  border: 1px solid white;
}
form {
  background-color: sandybrown;
  width: 25vw;
  height: 70vh;

  display: flex;
  flex-direction: column;
  align-items: center;
}
.formu {
  width: 350px;
  height: 70vh;
  /* background-color: violet; */
  display: flex;
  flex-direction: column;
  margin: 10% auto;
  padding: 12vh 0;
}
.formu-2 {
  width: 350px;
  height: 100%;
  /* background-color: violet; */
  display: flex;
  flex-direction: column;
  margin: 0% auto;
  padding: 4vh 0;
}
.name {
  display: inline-flex;
  justify-content: start;
  margin: 10px 0;
  align-items: center;
}
.name input {
  padding: 0 30px;
  border-radius: 20px;
  border: unset;
  height: 30px;
  width: 350px;
  outline: none;
}
.name i {
  position: absolute;
  margin-top: -5px;
  padding: 0 10px;
}
.place {
  position: absolute;
  font-size: 12px;
  margin-left: 30px;
  letter-spacing: 1px;
}
.name input:focus {
  background-color: sandybrown;
  border: 2px solid white;
}
.name input:focus + .place {
  top: 190px;
  padding: 0 5px;
  background-color: sandybrown;
  color: white;
}
.place2 {
  position: absolute;
  font-size: 12px;
  margin-left: 30px;
  letter-spacing: 1px;
}
.name input:focus + .place2 {
  top: 242px;
  padding: 0 5px;
  background-color: sandybrown;
  color: white;
}

.name1 {
  display: inline-flex;
  justify-content: start;
  margin: 10px 0;
  align-items: center;
}
.name1 i {
  position: absolute;
  margin-top: -5px;
  padding: 0 10px;
}

.name1 input {
  padding: 0 30px;
  border-radius: 20px;
  border: unset;
  height: 30px;
  width: 350px;
  outline: none;
}

.senha {
  display: flex;
  justify-content: start;
  margin: 10px 0;
}
.senha i {
  position: absolute;
  padding: 0 10px;
  padding-top: 10px;
}
.senha input {
  padding: 0 30px;
  border-radius: 20px;
  border: unset;
  height: 30px;
  width: 350px;
  outline: none;
}
button {
  padding: 0 30px;
  border-radius: 20px;
  border: unset;
  height: 30px;
  width: 350px;
  outline: none;
  margin: 10px 0;
  background-color: green;
  color: white;
  font-size: 15px;
  text-transform: uppercase;
  cursor: pointer;
  font-weight: 700;
}
button:hover {
  background-color: white;
  color: black;
  border: 1px solid black;
  box-shadow: 0px 10px 10px 0px #333;
}

.social {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
}
.social-2 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
}
.social h3 {
  margin: 10px;
  letter-spacing: 2px;
}
.social-media span {
  width: 30px;
  height: 30px;
  background-color: green;
  color: white;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;

  margin: 5px;
  cursor: pointer;
}
.social-media span:hover {
  background-color: white;
  color: black;
  border: 1px solid black;
  box-shadow: 0px 5px 10px 0px #333;
}
span a {
  padding: 0 5px;
  color: blue;
}
.fas {
  color: #333;
  font-size: 10px;
  opacity: 0.5;
}
#check {
  margin-bottom: 10px;
  margin-top: 5px;
}

.sign {
  width: 50vw;
  height: 70vh;
  background: green;
  background: linear-gradient(-45deg, green 5%, sandybrown 50%);
  display: flex;
  margin: 0 auto;

  align-items: center;
  box-shadow: 5px 5px 8px 1px #333;
  /* position: absolute; */
}

.cadastro {
  position: relative;
  width: 50vw;
  height: 70vh;
  overflow: hidden;
}

.checket-sex {
  display: inline-flex;
  justify-content: start;
  gap: 20px;
  margin-top: 10px;
}
h4 {
  font-size: 15px;
  color: #333;
  opacity: 0.8;
}

.tel {
  margin-bottom: 5px;
}
.sign:target {
  display: none;
}
.login:target {
  display: none;
}
a:hover {
  color: white;
}
